<sly data-sly-test="${properties.logoImage}">
<sly data-sly-use.multiLevel1Model="com.adobe.aem.guides.wknd.core.models.FoodieHeaderModelLevel0" />
<sly data-sly-test="${properties.logoImage}">
<div class="foodies__header">
    <div class="foodies__header-ham"></div>
    <a href="https://foodiesonly.in/"><img src="${properties.logoImage}" alt="foodies-logo" class="foodies__header-logo"></a>
    
    <div class="foodies__header-menu">
        <sly data-sly-list.level1="${multiLevel1Model.foodieHeaderL1List}">
            <div class="foodies__header-menu-item">
                <a class="foodies__header-text" href="${level1.link}">${level1.title}</a>
                <sly data-sly-list.level2="${level1.foodieHeaderL2List}">
                    <img src="/content/dam/foodie-project/dropdown-img.webp" alt="dropdown-icon" class="foodies__header-drop-icon">
                    <div class="foodies__header-dropdown-container">
                        <a href="${level2.link}">${level2.title}</a>
                    </div>
                </sly>
            </div>
        </sly>
    </div>

    <div class="foodies__header-right">
        <div class="foodies__header-search">
            <img src="${properties.searchImage}" alt="search-icon" class="foodies__header-icon">
            <p class="foodies__header-labels">${properties.searchTitle}</p>
        </div>
        <div class="foodies__header-login">
            <img src="${properties.loginImage}" alt="profile-icon" class="foodies__header-icon">
            <p class="foodies__header-labels">${properties.loginTitle}</p>
        </div>
    </div>
</div>
</sly>
</sly>