<div class="cmp-container" data-sly-unwrap>
    <div class="discover">
        <div class="discover__bg">
            <img src="/content/dam/foodie-project/background_full_width_image.png" class="discover__bg-img">
        </div>
            <div class="discover__content">
                <div class="discover__header">
                    <div class="discover__header-left">
                        Ready to discover something
                    </div>
                    <div class="discover__header-right"><div class="discover__header-green-shadow-box">amazing?</div><div class="discover__header-green-triangle-wrap"><div class="discover__header-green-shadow-triangle"></div></div></div>
                </div>
                <div class="discover__content-text">Click to explore, learn, create & indulge!
                </div>
                <div class="discover__items">
                    <div class="discover__item">
                        <div class="discover__circle">
                            <img src="/content/dam/foodie-project/Homepage_Explore.webp" alt="Explore Image" class="discover__circle-img">
                        </div>
                        <div class="discover__item-text-overlap"><div class="discover__item-container"><div class="discover__item-small-green-box"><a href="https://foodiesonly.in/blogs">Explore</a></div><div class="discover__item-small-green-triangle"></div></div></div>
                    </div>
                    <div class="discover__item">
                        <div class="discover__circle">
                            <img src="/content/dam/foodie-project/Homepage_Innovate.webp" alt="Innovate Image" class="discover__circle-img">
                        </div>
                        <div class="discover__item-text-overlap"><div class="discover__item-container"><div class="discover__item-small-green-box"><a href="https://foodiesonly.in/blogs">Innovate</a></div><div class="discover__item-small-green-triangle"></div></div></div>
                    </div>
                    <div class="discover__item">
                        <div class="discover__circle">
                            <img src="/content/dam/foodie-project/Homepage_Learn.webp" alt="Learn Image" class="discover__circle-img">
                        </div>
                        <div class="discover__item-text-overlap"><div class="discover__item-container"><div class="discover__item-small-green-box"><a href="https://foodiesonly.in/blogs">Learn</a></div><div class="discover__item-small-green-triangle"></div></div></div>
                    </div>
                    <div class="discover__item">
                        <div class="discover__circle">
                            <img src="/content/dam/foodie-project/Homepage_Create.webp" alt="Create Image" class="discover__circle-img">
                        </div>
                        <div class="discover__item-text-overlap"><div class="discover__item-container"><div class="discover__item-small-green-box"><a href="https://foodiesonly.in/blogs">Create</a></div><div class="discover__item-small-green-triangle"></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    

</div>
