<sly data-sly-use.model="com.adobe.aem.guides.wknd.core.models.FirstCardFoodieModel">
<div>
    <sly data-sly-list.item="${model.myCards}">
        <div>
            <img src="${item.foodImage}"/>
            <div>
                <h3 >Title: ${item.foodTitle}</h3>
                <p >Tag: ${item.foodTag}</p>
                <p >Time: ${item.foodTime} mins</p>
                <p >Level: ${item.foodLevel}</p>
                <p >Checking the catgory(use this in js to filter): ${item.category}</p>
            </div>
        </div>
    </sly>
    <button type="button">View All</button>
</div>
</sly>