<div class="taste-trivia">
    <img src="${properties.cupPhoto}" class="taste-trivia__img" alt="cup-img">
    <div class="taste-trivia__header">
      <div class="taste-trivia__header-left">
          ${properties.heading1Taste}
      </div>
      <div class="taste-trivia__header-right"><div class="taste-trivia__header-green-shadow-box">${properties.heading2Taste}</div><div class="taste-trivia__header-green-triangle-wrap"><div class="taste-trivia__header-green-shadow-triangle"></div></div></div></div>
      <div class="taste-trivia__content">
        <img src="${properties.desktopPhoto}" class="taste-trivia__bg">
        <p class="taste-trivia__text">${properties.subHeadingTaste}</p>
      </div>
  </div>
  </div>