<sly data-sly-use.model="com.adobe.aem.guides.wknd.core.models.CardOfProductModelSuperClass">
<div class="card-container">
    <sly data-sly-list.item="${model.cards}">
        <div class="card">
            <img src="${item.image}" alt="${item.title}" class="card-image"/>
            <div class="card-content">
                <h3 class="card-title">${item.title}</h3>
                <p class="card-price">Price: ₹${item.price}</p>
                <p class="card-discount">Discounted: ₹${item.discount}</p>
            </div>
        </div>
    </sly>
</div>
</sly>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
<sly data-sly-call="${clientlib.css @ categories='cardClient'}"/>
<sly data-sly-call="${clientlib.js @ categories='cardClient'}"/>
</sly>