<!-- Swiper Container -->
<div class="kind-foodie">
  <div class="kind-foodie__header">
    <div class="kind-foodie__header-left">
        What kind of foodie are
    </div>
    <div class="kind-foodie__header-right"><div class="kind-foodie__header-green-shadow-box">you?</div><div class="kind-foodie__header-green-triangle-wrap"><div class="kind-foodie__header-green-shadow-triangle"></div></div></div>
  </div>
  <div class="swiper">
    <div class="swiper-wrapper">
      <!-- Slide 1 -->
      <div class="swiper-slide">
        <div class="swiper__home-chef swiper__card">
              <p class="swiper-slide__text">The Home Chef Foodie</p>
              <img src="/content/dam/foodie-project/home-chef-foodie.webp" alt="home-chef" class="swiper-slide__img">
        </div>
        <div class="swiper__adventure swiper__card">
              <p class="swiper-slide__text">The Adventure Foodie</p>
              <img src="/content/dam/foodie-project/adventurous-foodie.webp" alt="adventure-foodie" class="swiper-slide__img">
        </div>
        <div class="swiper__gourmet swiper__card">
          <p class="swiper-slide__text">The Gourmet Foodie</p>
          <img src="/content/dam/foodie-project/gourmet-foodie.webp" alt="gourmet-foodie" class="swiper-slide__img">
        </div>
        <div class="swiper__health swiper__card">
          <p class="swiper-slide__text">The Gourmet Foodie</p>
          <img src="/content/dam/foodie-project/health-conscious-foodie.webp" alt="healthy-foodie" class="swiper-slide__img">
        </div>
        
       
      </div>
      <!-- Slide 2 -->
      <div class="swiper-slide">
        <div class="swiper__home-chef swiper__card">
              <p class="swiper-slide__text">The Home Chef Foodie</p>
              <img src="/content/dam/foodie-project/home-chef-foodie.webp" alt="home-chef" class="swiper-slide__img">
        </div>
        <div class="swiper__adventure swiper__card">
              <p class="swiper-slide__text">The Adventure Foodie</p>
              <img src="/content/dam/foodie-project/adventurous-foodie.webp" alt="adventure-foodie" class="swiper-slide__img">
        </div>
        <div class="swiper__gourmet swiper__card">
          <p class="swiper-slide__text">The Gourmet Foodie</p>
          <img src="/content/dam/foodie-project/gourmet-foodie.webp" alt="gourmet-foodie" class="swiper-slide__img">
        </div>
        <div class="swiper__health swiper__card">
          <p class="swiper-slide__text">The Gourmet Foodie</p>
          <img src="/content/dam/foodie-project/health-conscious-foodie.webp" alt="healthy-foodie" class="swiper-slide__img">
        </div>
        
       
      </div>
     
    </div>
  
    <!-- Arrows and pagination -->
    <div class="swiper-button-next custom-next"></div>
    <div class="swiper-button-prev custom-prev"></div>
    <div class="swiper-pagination"></div>
  
  </div>
  
  <div class="kind-foodie__text">
    Foodies we heard you! Find personalised content curated for your taste buds


  </div>
  <button class="kind-foodie__cta">Find Out</button>

</div>

  